Repository raven-os/build-raven-os-org, pull requests merged in 2019-11, with the labels that each got.

#93 front: display maintainer and author on manifest details
  front/src/views/manifest/details.vue
Labels: Front, enhancement

#94 server: enable access right check
  server/src/routing.js
Labels: API, enhancement

#95 front: protect pages access with guards
  front/package.json
  front/src/app.vue
  front/src/router.js
  front/src/store/index.js
Labels: Front, enhancement

#98 Restrict manifest update to maintainer only
  front/src/views/manifest/details.vue
  server/src/action/manifest/update.js
  server/src/controller/manifest.js
  server/test/controller/manifest.js
Labels: API, Front, enhancement

#99 server: restrict build create
  front/src/views/manifest/details.vue
  server/src/action/build/create.js
  server/src/action/manifest/update.js
  server/src/controller/build.js
  server/src/controller/manifest.js
  server/test/controller/build.js
  server/test/controller/manifest.js
Labels: API, enhancement

#101 front: fix build details packages error
  front/src/views/build/details.vue
Labels: Front, bug

#102 Change design of login and invitation page
  front/src/views/admin/invitation.vue
  front/src/views/auth/login.vue
Labels: Front, enhancement

#100 server: implement route to update manifest's maintainer
  server/src/action/manifest/index.js
  server/src/action/manifest/update-maintainer.js
  server/src/controller/manifest.js
  server/src/controller/user.js
  server/src/routing.js
Labels: API, enhancement

#106 server: implement user get route
  server/src/action/auth/login.js
  server/src/action/user/get.js
  server/src/action/user/index.js
  server/src/routing.js
Labels: API, enhancement

#107 server: implement user list (search) route
  server/src/action/user/index.js
  server/src/action/user/list.js
  server/src/controller/user.js
  server/src/routing.js
Labels: API, enhancement

#108 server: implement password recovery endpoints
  server/package.json
  server/src/action/auth/forgot-password.js
  server/src/action/auth/index.js
  server/src/action/auth/reset-password.js
  server/src/controller/auth.js
  server/src/controller/user.js
  server/src/controller/utils.js
  server/src/routing.js
Labels: API, enhancement

#109 front: implement password recovery page
  front/src/router.js
  front/src/store/api/auth.js
  front/src/store/modules/auth.js
  front/src/store/mutation-types.js
  front/src/views/auth/login.vue
  front/src/views/auth/recovery.vue
Labels: Front, enhancement

#110 chore: update dependencies
  builder/.eslintrc.json
  builder/package.json
  builder/src/receiver.js
  builder/src/upload.js
  front/.eslintrc.js
  front/package.json
  server/.eslintrc.json
  server/package.json
  server/src/controller/auth.js
  server/src/controller/build.js
  server/src/controller/invitation.js
  server/src/database/bookshelf.js
  server/src/database/index.js
  server/src/database/model/build.js
  server/src/database/model/invitation.js
  server/src/database/model/manifest.js
  server/src/database/model/manifest_content.js
  server/src/database/model/user.js
  server/src/routing.js
  server/src/websocket/index.js
  server/test/controller/build.js
  server/test/controller/manifest.js
  server/test/mock-database.js
Labels: API, Builder, Front

#111 front: implement manifest maintainer update
  front/src/store/api/manifest.js
  front/src/store/api/user.js
  front/src/store/modules/manifest.js
  front/src/store/modules/user.js
  front/src/store/mutation-types.js
  front/src/views/manifest/details.vue
Labels: Front, enhancement
